/config/cache.php
/config/config_db*
/config/glpi.key
/config/glpicrypt.key
/config/local_define.php
/files/*/*
!/files/*/.gitkeep
.composer.hash
.package.hash
/locales/*.mo
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/vendor/*
composer.lock
/node_modules/*
# Ignore tests and tools directories
tests/
tools/

